In [2]:
# importing libraries used is 1st task

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

# using dataset

In [4]:
dataset = pd.read_csv('C:/Users/Asus/Desktop/dataset_infobyte/Iris.csv')
dataset.head(4)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa

In [ ]:
# analyze of data
dataset.describe()

# species of iris flower

In [ ]:
dataset['Species'].value_counts()

# Model training

dividing data:

In [ ]:
from ctypes import sizeof
from sklearn.model_selection import train_test_split
X = dataset.drop(columns=['Species'])
Y = dataset['Species']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state = 42)
print('Size of training dataset : ', len(X_train))
print('Size of testing dataset : ', len(X_test))

Logistic Regression:

In [ ]:
from sklearn.linear_model import LogisticRegression

LR_model = LogisticRegression(max_iter=1000)    #iteration limit has been reached so that we using this fun to increase the limit
LR_model.fit(X_train, y_train)

# Model Evaluation

In [ ]:
expected = np.array(y_test)
predicted = LR_model.predict(X_test)

In [ ]:
print("Accuracy of our Logistic Regression Model :", LR_model.score(X_test, y_test)*100)

In [ ]:
from sklearn import metrics
print('-confusion Matrix : ')
print(metrics.confusion_matrix(expected, predicted))

In [ ]:
print(metrics.classification_report(expected, predicted))

In [ ]:
for i in range(len(predicted)):
  print('Predicted : ' + predicted[i] + '   ||  Actual is : ' + expected[i])